.navbar-header {
  background: #EEEEEE;
  position: fixed;
  z-index: 1000;
  width: 100%;

  .logo-fix {
    // width: 200px;
    // padding: 24px 24px 16px 0px !important;
  }

  .menu-nav-font {
    color: #333333 !important;
    font-size: 14px
  }

  .menu-nav-item {
    height: 40px !important;
  }

  .nav-font {
    // padding: 24px 0px 0px ;
    color: #0060A9;
    align-items: center;
    font-size: 16px;
  }

  .nav-mar-right {
    margin-right: 70px;
  }

  .navbar-nav {
    align-items: center;
  }

  .hide-sm {
    display: none;
  }

  .navbar-lg-view {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 157, 220);
    flex-direction: row;
    margin: 30px 24px 16px 20px;
  }

  .navbar-custom:not(.show) {
    display: none !important;
  }

  @media screen and (max-width: 767px) {
    .hide-sm {
      display: block;
    }

    .navbar-toggler {
      display: inline-block !important;
    }

    .navbar-nav {
      align-items: flex-start;
    }

    .navbar-lg-view {
      display: none;
    }
  }

  .separator {
    border-right: 1px solid rgb(92, 89, 89);
    padding: 0px 8px 0px;
    line-height: 20px;
  }

  .nav-item {
    padding: 0px 8px 0px;
  }
}

.nav-border {
  border-bottom: 8px solid #3071A9;
}

.logo {
  margin-left: 24px;
  margin-top: 5px;
  padding-top: 5px;
  height: 44px;
  width: 280px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-header {
    display: flex;
    align-items: center;
    background: #EEEEEE;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
  }

  .nav-border {
    border-bottom: 4px solid #3071A9;
  }

  .logo {
    margin-left: 16px;
    margin-top: 0px;
    padding-top: 0px;
    height: 30px;
    width: 160px;
  }

  .navbar-lg-view {
    font-size: 18px;
    font-weight: 700;
    color: rgb(0, 157, 220);
    flex-direction: row;
    margin: 25px 20px;
  }

  .navbar-toggler {
    position: fixed;
    right: 2px;
    top: 2px;
  }

  .navbar-toggler-icon {
    height: 24px !important;
    width: 24px !important;
  }


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar-header {
    display: flex;
    align-items: center;
    background: #EEEEEE;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    justify-content: space-between;

    .navbar-lg-view {
      font-size: 12px;
      font-weight: 700;
      color: rgb(0, 157, 220);
      flex-direction: row;
      margin: 20px 16px 12px 16px;
    }

    .nav-font {
      padding: 0px;
      color: #0060A9;
      font-size: 12px;
    }
  }

  .nav-border {
    border-bottom: 4px solid #3071A9;
  }

  .logo {
    margin-left: 16px;
    margin-top: 0px;
    padding-top: 0px;
    height: 40px;
    width: 200px;
  }

  .navbar-toggler {
    position: fixed;
    right: 2px;
    top: 2px;
  }

  .navbar-toggler-icon {
    height: 24px !important;
    width: 24px !important;
  }


}