#contactinnovel-panel1{
    background-image: url("../images/bg-reflectorblur.jpg");
    min-height: 200px;
    width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
  }

  #contactinnovel-panel2{
    background-size:cover;
  }


.contactinnovel-panel1{
      background: url('../images/bg-reflectorblur.jpg');
      min-height: 200px;
      width: 100%;
      background-repeat:no-repeat;
      background-size:cover;
    }
    .contactinnovel-panel2{
      background: url('../images/img-reflector.jpg');
      min-height: 400px;
      width: 100%;
      background-repeat:no-repeat;
      background-size:cover;
    }
